<div class="ui container">
    <div class="ui two column centered grid">
        <div class="column">
            <img class="ui large centered image logo" src="../../assets/images/kwm-gegen-corona-logo_600x123.png">
            <div class="header logo-title">kwm gegen corona</div>
        </div>
        <div class="two column centered row ui grid">
            <div class="eight wide column">
                <div class="what ui segment">
                    <h3 class="header">Was?</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                </div>
                <div class="why ui segment">
                    <h3 class="header">Warum?</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                </div>
                <div class="how ui segment">
                    <h3 class="header">Wie?</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui segment">
                    <h2>Mitmachen</h2>
                    <div class="ui vertical segment">
                        <a class="ui fluid disabled button" href="#">Ich brauche Hilfe.</a>
                    </div>
                    <div class="ui vertical segment">
                        <a class="ui fluid disabled button" href="#">Ich biete Hilfe.</a>
                    </div>
                    <div class="ui vertical segment">
                        <a class="ui fluid button" routerLink="../login">Zum Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--h1>Home</h1>
    <p>Das ist die KWM gegen Corona Website.</p>
    <a routerLink="../lists" class="ui button">
        Alle Listen ansehen
        <i class="angle right icon"></i>
    </a>-->
</div>